/* 
 * Gianluca Esposito tilt2k@gmail.com
 */
body { font-size:16px; font-family:'Merriweather', serif; }
	#main { margin:0 auto; width:768px; height:1024px; position: relative; }

		#menuBar { width: 768px; height: 32px; background-color:#2D2D2D; }
			
			div.menu { float:left; position:relative; height:32px; overflow:hidden; }
				div.menu ul, div.menu ol { position:relative; height:32px; float:left; clear:both; overflow:hidden; background-color:#2D2D2D; }

			div#menuHome { width: 48px; }
			
			div#menuEssay { width: 382px; }
				#menuEssay ul, 
				#menuEssay ol { width: 382px; }
					#menuEssay a.menuEssay { padding: 7px 16px 7px 48px; background: transparent url('../css/img/library.png') no-repeat 16px 8px; }
				div.menu .menuList { position:relative; height:640px; float:left; clear:both; overflow:hidden; }
					div.menu .menuList li { position:relative; height:32px; background-color:#FFF; border: 1px solid #BEBEBE; border-style: none solid; }
						div.menu .menuList li:hover { width:auto; z-index:1; overflow:visible; background-color: #EFF3FB; }

			div#menuMore { width: 128px; float: right; visibility: hidden; }
				#menuMore.show { visibility: visible; }
				#menuMore li { width: 128px; }
					#menuMore .menuHead { padding: 7px 16px 7px 48px; background: transparent url('../css/img/settings.png') no-repeat 16px 8px; }
					#menuMore .menuOption { padding: 7px 16px 7px 48px; background: transparent url('../css/img/full.png') no-repeat 16px 8px; } 
					#menuMore .menuOption.less { background: transparent url('../css/img/full_less.png') no-repeat 16px 9px; }
				#menuEssay:hover, 
				#menuMore:hover { z-index:2; overflow:visible; }

					div.menu a:link, div.menu a:visited
					{ display:block; height:18px; padding:7px 16px; color:#FFF; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; }
					div.menu .menuEssay a:hover, div.menu .menuEssay a:active
					{ display:block; width:auto; padding-right:16px; }

					div.menu .menuList a:link, div.menu .menuList a:visited,
					div.menu .menuList a:hover, div.menu .menuList a:active 
					{ font-weight: normal; color:#36C; }

		#scrollLeft,
		#scrollRight { position:absolute; width:56px; height:864px; overflow:hidden; visibility:hidden; z-index:1; top: 96px; }
		#scrollLeft { left:8px; }
		#scrollRight { right:8px; }
			#scrollLeft.show, #scrollRight.show { visibility:visible; cursor:pointer; }

		#home { visibility:hidden; }
			#home.show { visibility:visible; }

		#reader { position:relative; width:768px; height:992px; background-color:#F6F6F6; float:left; overflow:hidden; z-index: 0; }
			#reader:before { position:absolute; top:0; right:0; bottom:0; left:0; content: ""; border:1px solid #EAEAEA; z-index: -1; }

		#source { position:relative; margin:64px; }
			#source.col { height:864px; overflow:hidden; -moz-column-width:864px; -moz-column-gap:0; -webkit-column-width:864px; -webkit-column-gap:0; }
				#source h1 { padding:0 0 8px; font-size:25px; font-weight:700; color:#993333; }
				#source h1 a:link, #source h1 a:visited, #source h1 a:hover, #source h1 a:active { color:#000; }
				#source h2 { padding:8px 0; font-size:19px; font-weight:700; color:#000; }
				#source h2 a:link, #source h2 a:visited, #source h2 a:hover, #source h2 a:active { color:#000; }
				#source h3 { padding:8px 0; font-weight:700; color:#000; }
				#source p { padding:8px 0; line-height:24px; font-weight:400; text-align: justify; }
					#source p.center { text-align:center; }
					#source pre p, #source em { font-size:14px; line-height:21px; font-weight:400; font-style:italic; padding:8px 0; }
					#source p.info { width:608px; padding:8px 16px; font-weight:400; }
					#source p.yc { background-color:#FF9922; margin: 8px 0; }
					#source p.quote { background-color:#FFFFDD; }
					#source p.ext { background-color:#CCCC99; }
					#source a, #home a { color:darkblue; }
					#source a.noteLink, #source a.noteText { vertical-align:super; }

			#spinner { position:fixed; top:50%; left:50%; width:32px; height:32px; background:url(img/ajax-loader.gif) no-repeat center center; }
			#note { position:fixed; top:25%; left:25%; min-width:160px; min-height:160px; padding:16px; background-color:#FFF; }

		h1, h2, h3, 
		div.menu a
		{ font-family:'Metrophobic', sans-serif; font-style:normal; text-decoration: none; }

		.size14 { font-size:14px; line-height:19px; }
		.size17 { font-size:17px; line-height:25px; }
		.size112 { font-family:'serif'; font-size:112px; line-height: 864px; color:#E6E6E6; }
			.size112:hover { color:#C4C4C4; }
		.sizeB { font-weight:700; }

		.center { text-align:center; } 
		.right { text-align:right; } 
		.left { text-align:left; }